.basket{
    width: 500px;
    height: 100%;
    position: fixed;
    top: 50px;
    right: 0px;
    background-color: black;
    padding: 50px 0px;
    z-index: 211;
    h2{
        color: white;
        font-size: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
    }
    .box{
        border-bottom: 2px solid gray;
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            width: 100px;
            height: 100px;
            border: 2px solid gray;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .center{            
            h3{
                color: white;
                margin-bottom: 10px;
            }
            p{
                text-align: center;
                color: white;
                span{
                    color: brown;
                    margin-right: 10px;
                }
            }

        }
        .right{
            button{
                width: 30px;
                height: 30px;
                border: 2px solid gray;
                background-color: transparent;
                color: white;
                border-radius: 5px;
                font-size: 14px;

            }
            span{
                color: white;
                font-size: 14px;
                font-weight: 700;
                margin: 0px 10px;

            }
        }
    }
    .remveButton{
        margin: auto;
        box-sizing: border-box;
        border: none;
        color: white;
        background-color: rgb(22, 18, 14);
        padding: 5px;
        border-radius: 3px;
    }
    .bottom{
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
        color: white;
        margin: 15px;
    }

}
